@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat:wght@700&family=Dancing+Script:wght@500&family=Gideon+Roman&family=Playfair+Display:ital,wght@0,600;0,700;1,500;1,600&family=Silkscreen&display=swap');

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: #000000;

}


.logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.logo img{
    max-width: 50px;
}

.favoritos{
    cursor: pointer;
    background-color: #fff;
    padding: 5px 14px;
    color: #000000;
    border-radius: 4px;
    text-decoration: none;
}